/* You can add global styles to this file, and also import other style files */
/*@import url('http://fonts.googleapis.com/css?family=Raleway:400,200');*/
/*@import url('http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css');*/
@import "assets/css/bootstrap.min.css";
@import "assets/css/font-awesome.min.css";

html {
  background: #ffffff;
  width: 100%;
  width: 100vw;
  height: 100%;
  height: 100vh;
  font-family: sans-serif;
}

.clean-font {
  color: #8f8f8f;
  font-weight: 200;
}


.button-group,
.button-group-vertical {
  position: relative;
  display: inline-block;
  vertical-align: middle;
}
.button-group > .button,
.button-group-vertical > .button {
  position: relative;
  float: left;
}
